<div class="container">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    <img src="https://insideunmannedsystems.com/wp-content/uploads/2020/04/A_M_Poss_Reaper_no_markings_gradiant.jpg" alt="">
</div>


